<header>
    <div class="header-container">
       <div class="logo">
         <a class="nav-link" routerLink="">
             <h1>Movies<span  id="logo-title">Top</span></h1>
         </a>                
        </div>
         <div>
             <ul class="menu">
                 <li><a href="">Productos</a></li>
                 <li><a class="nav-link" >Ofertas</a></li>
                 <li><a class="nav-link" routerLink="checkout">Mi cuenta</a></li>
                 <li><a class="nav-link" routerLink="car"><span>{{counter()}}</span><i class="fas fa-shopping-cart"></i></a></li>
             </ul>
         </div>
       </div>
     
 
 </header>